*{
    font-family:'montserrat', sans-serif;
}

body{
    background-color:white ;
    line-height: 1, 7;
}


.bg-primary{
    background-color : rgba(81, 30, 30, 0.429) !important;
   
}
img{
    max-width: 50%;
}
.progress{
    background-color: rgba(250,255,255,0.2);
    border: 20PX;
    overflow: hidden;
}
#text-primary{
    color: #3498db;
}